<div class="about-section">
  <h1>About FafsaInfo</h1>
  <p>With the purpose of shorten the distance between students and educational organizations,
  FAFASAINFO provides a platform where students can access financial aid specific content.
  Colleges and universities can generate leads by simply providing high quality
  webinars and podcasts online.</p>
  </div>


<h2 style="text-align:center">Dev Team</h2>
<div class="container center">

<div class="row justify-content-center">

  <div class="column">
    <div class="card" style="width: 18rem;">
      <img class="portrait" src="/assets/developer1.jpg" alt="Developer 1" style="width:100%">
      <div class="container">
        <h2>Vagner</h2>
        <p class="title">Techlead</p>
        <p>Ruby, Rails.</p>
        <p>domivabc@github.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card" style="width: 18rem;">
      <img class="portrait" src="/assets/developer1.jpg" alt="Developer 1" style="width:100%">
      <div class="container">
        <h2>Developer 1</h2>
        <p class="title">Dev 1</p>
        <p>Ruby, Rails.</p>
        <p>domivabc@github.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card" style="width: 18rem;">
      <img class="portrait" src="/assets/developer1.jpg" alt="Developer 1" style="width:100%">
      <div class="container">
        <h2>Developer 2</h2>
        <p class="title">Dev 2</p>
        <p>Ruby, Rails.</p>
        <p>domivabc@github.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  

</div>
</div>

