<div class="about-section">
  <h1>About FafsaInfo</h1>
  <p>This is my capstone project.</p>
  <p>Stack: Rails6 , SQLite3, Html, CSS</p>
</div>

<h2 style="text-align:center">Dev Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img class="portrait" src="/assets/developer1.jpg" alt="Developer 1" style="width:100%">
      <div class="container">
        <h2>Vagner</h2>
        <p class="title">CEO & Founder</p>
        <p>Created the business plan and Trello board.</p>
        <p>vagner@someemail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="portrait" src="/assets/techlead.jpg" alt="Mean Vagner" style="width:100%">
      <div class="container">
        <h2>Meerkat</h2>
        <p class="title">The Techlead</p>
        <p>The Rails evangelist and guru</p>
        <p>techlead@someemail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="portrait" src="/assets/tigtone.jpg" alt="Roger" style="width:100%">
      <div class="container">
        <h2>Tigtone</h2>
        <p class="title">Content Creator</p>
        <p>Responsible for all the nonsensical text</p>
        <p>tigtone@someemail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
