
<div class="home-pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h1 class="display-4">Membership</h1>
<p class="lead">FAFSAINFO has the goal of providing a platform where colleges and universities can upload
sponsored videos that explain how to apply to financial aid.</p>
</div>

<!-- Cards Container -->
<div class="container center">

  <div class="card-deck mb-3 text-center ">
  
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Student Account </h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Students / Parents</li>
        <li>Watch Unlimited Videos</li>
        <li>Support</li>
        <li>More Info</li>
      </ul>
      <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-lg btn-block btn-primary'  %>
     
      </div>
  </div>

  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">School Account</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$50 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Colleges / Universities</li>
        <li>Up to 5 FREE Uploads</li>
        <li>Leads Generated in Excel</li>
        <li>Tech Support</li>
      </ul>
      <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-lg btn-block btn-primary'  %>      
     </div>
    </div>





  
</div>
        
</div>
