footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
body { margin: 0; }
.gravatar { height: 30px; width: auto; }
.navbar { min-height: 38px; color: #f55e55; }
.navbar a.brand { font-size: 18px; }
.navbar a.brand:hover { color: #fff; background-color: transparent; text-decoration: none; }
footer { background-color: #ebebeb; padding: 30px 0; }
h5 { color: red; }
.carousel { opacity: 0.5; width: 100%x; }
.event_poster { height: 400px; width: 300px; }

